:root {
    --page-padding: 3rem;
    --primary-container-width: 46rem;
    --primary-background-color: #0891b2;
}
@font-face {
    font-family: 'playfair-display';
    src: url(/assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}
body {
    font-family: roboto;
    font-weight: lighter;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    font-family: playfair-display;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    font-weight: 200;
}
h3 {
    font-size: 1rem;
}
.header, .main, .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.diagonal-backdrop {
    position: absolute;
    width: 100%;
    height: 100rem;
    background-color: var(--primary-background-color);
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-12deg) translateY(-80.5rem);
    box-shadow: 0px 0px 10px 0px rgba(83, 83, 83, 0.75);
}
.about-me {
    max-width: var(--primary-container-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--page-padding);
}
.portrait {
    background-image: url(../assets/images/about\ me\ stock.jpg);
    background-size: 20rem auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    min-width: 20rem;
    box-shadow: 0px 0px 10px 1px rgba(83, 83, 83, 0.6);
}
.name {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: white;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.8);
    font-size: 2.7rem;
}
.about-me-content {
    line-height: 1.5rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(83, 83, 83, 0.75);
}
.about-me-title {
    margin-top: 10px;
}
.about-me-description {
    color: rgba(37, 37, 37, 0.795);
}
.about-me-links {
    padding-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    height: 25px;
}
.link {
    background-position: center;
    background-size: cover;
    width: 25px;
    margin-left: 1rem;
}
.about-me-link-1 {
    background-image: url(../assets/icons/png-files/linkedin.png);
}
.about-me-link-2 {
    background-image: url(../assets/icons/png-files/github.png);
}
.my-work {
    padding: var(--page-padding);
    max-width: var(--primary-container-width);
    padding-top: 0px;
}
.my-work-header {
    margin-top: 2.5rem;
    margin-bottom: 10px;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.project {
    height: 16rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 10px -1px rgba(0,0,0,0.3);
}
.project-screenshot {
    height: 65%;
}
.project-details {
    height: 10%;
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 0.8rem;
    display: flex;
    justify-content: space-between;
}
.project-description {
    height: 25%;
    padding: 0.8rem;
    font-size: 0.8rem;
    color: rgba(37, 37, 37, 0.795);
}
.project-links {
    width: 60px;
    display: flex;
}
.project-link {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.project-github-link {
    background-image: url(../assets/icons/png-files/github.png);
}
.project-page-link {
    background-image: url(../assets/icons/png-files/open-in-new.png);
}
.project-screenshot {
    background-position: top;
    background-size: cover;
}
.screenshot-1 {
    background-image: url(../assets/images/battleship.png);
}
.screenshot-2 {
    background-image: url(../assets/images/weather\ app.png);
}
.screenshot-3 {
    background-image: url(../assets/images/odin\ library.png);
}
.screenshot-4 {
    background-image: url(../assets/images/tic\ tac\ toe.png);
}
.screenshot-5 {
    background-image: url(../assets/images/admin\ dashboard.png);
}
.screenshot-6 {
    background-image: url(../assets/images/sign\ up\ form.png);
}
.footer {
    background-color: var(--primary-background-color);
    margin-top: 3rem;
}
.contact-me {
    width: var(--primary-container-width);
    color: white;
    padding: var(--page-padding);
    display: flex;
    justify-content: space-between
}
.contact-information {
    max-width: var(--primary-container-width);
}
.contact-information > *:not(:last-child, :first-child) {
    margin: 1.5rem 0rem;
}
.contact-title {
    margin-top: 0px;
}
.contact-links {
    display: flex;
}
.contact-link {
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.github-contact-link {
    background-image: url(../assets/icons/png-files/github.png);
}
.linkedin-contact-link {
    background-image: url(../assets/icons/png-files/linkedin.png);
}
.contact-image {
    background-position: center;
    background-size: cover;
    width: 26rem;
    height: 22rem;
    background-image: url(../assets/images/contact\ me\ stock.jpg);
}
.phone-number-container, .email-address-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.contact-icon {
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
}
.phone-icon {
    background-image: url(../assets/icons/png-files/phone-outline.png);
}
.email-icon {
    background-image: url(../assets/icons/png-files/email-outline.png);
}
/*  remember to add icons to the phone number and email address
    also import fonts recommended by T.O.P. */